body{
    margin:0;
    padding:0;
    font-family: Georgia, serif;
}

.hero{
    height:100vh;

    background-image:url('../images/owlclub-hero-01.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;

    padding-left:8%;
}

.hero-content{
    max-width:700px;
    margin-top:80px;
}

.hero-kicker{
    letter-spacing:4px;
    text-transform:uppercase;
    font-size:14px;
}

.hero h1{
    font-size:90px;
    margin:10px 0;
    line-height:0.95;
}

.hero-subtitle{
    font-size:30px;
    line-height:1.4;
    margin-bottom:40px;
}

.hero-button{
    display:inline-block;
    border:1px solid #c8a06b;
    color:#c8a06b;
    text-decoration:none;
    padding:16px 32px;
    letter-spacing:2px;
text-transform:uppercase;
transition:0.3s;}
.hero-button:hover{
    background:#c8a06b;
    color:#050505;
}
